<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>07AB99AE-90CD-4AB2-8E3B-4A5B61C323FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>60F85D66-6768-47CC-BCA3-CC5F41B2EE67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DC2B61F-8581-463A-929E-D5FF4CADA315</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>975F47B3-CCA8-4619-B1EA-C3F553DC28D5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4AB639F3-D097-4057-B74F-0AF68F657B06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FA01F828-9AF9-4D92-9394-C318C66579E4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>60F85D66-6768-47CC-BCA3-CC5F41B2EE67</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DC2B61F-8581-463A-929E-D5FF4CADA315</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9FCD21E-63FE-459B-83EB-A54FEFB623C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7EDD178C-04AD-4CCD-BE42-593CF9B98EFE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CADA36B1-B2FE-4217-AC88-B3EECD0C5C21</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>975F47B3-CCA8-4619-B1EA-C3F553DC28D5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4AB639F3-D097-4057-B74F-0AF68F657B06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9A5E66D7-F206-4686-AB82-CC9ABC532414</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5B5C8BC-F2CF-40F4-9E6E-D127CF711EF5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9FCD21E-63FE-459B-83EB-A54FEFB623C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CADA36B1-B2FE-4217-AC88-B3EECD0C5C21</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D9A103A6-7AC1-421A-AD74-FE96710971A8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>67C7893A-5E82-4E05-97B1-6EF475BD94FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D330D9B5-F17F-4B6D-8B4A-BE45D0EBB227</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F9FCD21E-63FE-459B-83EB-A54FEFB623C1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F9FCD21E-63FE-459B-83EB-A54FEFB623C1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>07AB99AE-90CD-4AB2-8E3B-4A5B61C323FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA01F828-9AF9-4D92-9394-C318C66579E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EDD178C-04AD-4CCD-BE42-593CF9B98EFE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Caleb Parikh, Vlad Sitalo</string>
	<key>description</key>
	<string>Registers a fatebook prediction</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Fatebook</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>forecast</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter a question</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>Date</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 ./lib/date.py "{query}"
&gt;&amp;2 echo "${tags}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Options : today, tomorrow, next week .... or give a custom date as YYYY-MM-DD</string>
				<key>title</key>
				<string>When does this resolve by (YYYY-MM-DD)? Defaults to tomorrow.</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>60F85D66-6768-47CC-BCA3-CC5F41B2EE67</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ./lib/preprocess.py "${question}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>07AB99AE-90CD-4AB2-8E3B-4A5B61C323FD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>question</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F9FCD21E-63FE-459B-83EB-A54FEFB623C1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>predict</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter a question</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5B5C8BC-F2CF-40F4-9E6E-D127CF711EF5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string></string>
				<key>replacestring</key>
				<string>{isodate +1D:yyyy-MM-dd}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>3DC2B61F-8581-463A-929E-D5FF4CADA315</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>user_date</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>975F47B3-CCA8-4619-B1EA-C3F553DC28D5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>fatebook</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Enter a question</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D330D9B5-F17F-4B6D-8B4A-BE45D0EBB227</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D9A103A6-7AC1-421A-AD74-FE96710971A8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>percentage</string>
				<key>subtext</key>
				<string>40</string>
				<key>text</key>
				<string>Please enter a probability (%) between 1 and 100</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4AB639F3-D097-4057-B74F-0AF68F657B06</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python3 ./lib/create-prediction.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7EDD178C-04AD-4CCD-BE42-593CF9B98EFE</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>percentage</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>FA01F828-9AF9-4D92-9394-C318C66579E4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9A5E66D7-F206-4686-AB82-CC9ABC532414</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>CADA36B1-B2FE-4217-AC88-B3EECD0C5C21</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>"{var:question}" ({var:percentage}) resolves on {var:user_date}</string>
				<key>title</key>
				<string>Added forecast!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>67C7893A-5E82-4E05-97B1-6EF475BD94FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Type forecast to register a new Fatebook prediction.

Make sure to configure the workflow by adding your api key, then you can just type forecast and it should be pretty straightforward.

v 1.1 - added default time of one week after today
v 1.2 - better date input and added success notification
v 1.4 - natural language date parsing, copy URL to clipboard
v 2.0 - Support for guessing date from original text, extracting tags from original text, natural language date parsin, and ability to set a default team to share with.</string>
	<key>uidata</key>
	<dict>
		<key>07AB99AE-90CD-4AB2-8E3B-4A5B61C323FD</key>
		<dict>
			<key>xpos</key>
			<real>420</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>3DC2B61F-8581-463A-929E-D5FF4CADA315</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>4AB639F3-D097-4057-B74F-0AF68F657B06</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>60F85D66-6768-47CC-BCA3-CC5F41B2EE67</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
		<key>67C7893A-5E82-4E05-97B1-6EF475BD94FD</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>585</real>
		</dict>
		<key>6E4EEBD5-0AB8-4986-8EC0-1CD707F41689</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>7EDD178C-04AD-4CCD-BE42-593CF9B98EFE</key>
		<dict>
			<key>xpos</key>
			<real>555</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>975F47B3-CCA8-4619-B1EA-C3F553DC28D5</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>9A5E66D7-F206-4686-AB82-CC9ABC532414</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>A5B5C8BC-F2CF-40F4-9E6E-D127CF711EF5</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>CADA36B1-B2FE-4217-AC88-B3EECD0C5C21</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>D330D9B5-F17F-4B6D-8B4A-BE45D0EBB227</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>D9A103A6-7AC1-421A-AD74-FE96710971A8</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>F9FCD21E-63FE-459B-83EB-A54FEFB623C1</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>FA01F828-9AF9-4D92-9394-C318C66579E4</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Get your api key from https://fatebook.io/api-setup</string>
			<key>label</key>
			<string>Fatebook Api Key</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>fatebook_api_key</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>The team to share your predictions with by default</string>
			<key>label</key>
			<string>Default Team</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>shareWithTeam</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://fatebook.io/</string>
</dict>
</plist>
